/* Reset y estilos generales */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos de la tarjeta */
.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(1,1,1,0.4);
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  max-width: 90%;
  height: 130px;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 20px; /* Asegura un espacio debajo de cada tarjeta */  
}

.card-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto de su contenedor */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card img {
  width: 50%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 0 5px 0;
  font-size: 1.4em;
  text-align: left;
  text-decoration: none; /* Asegura que no haya subrayado en estos elementos */
  color: inherit; /* Asegura que el color del texto sea el correcto */
  color: #333; /* Color del título */
}

.card-price {
  position: static;
  font-weight: bold;
  color: white;
  background-color: #e74c3c;
  padding: 5px 5px;
  border-radius: 10px;
  width: fit-content;
  font-family: 'Times New Roman', Times, serif;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-shadow: none;
  text-decoration: none; /* Asegura que no haya subrayado en estos elementos */
  color: inherit; /* Asegura que el color del texto sea el correcto */
  color: #ffffff; /* Color del precio */
}

.card-description {
  font-size: 0.9em;
  color: #7f8c8d;
  margin: 0;
  text-decoration: none; /* Asegura que no haya subrayado en estos elementos */
  color: inherit; /* Asegura que el color del texto sea el correcto */
  color: #7f8c8d; /* Color de la descripción */
}

/* Estilos del menú */
.menu-container {
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
}

.menu-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

/* Estilos de detalles del menú */
.menu-detail {
  display: flex;
  flex-direction: column;
}

.menu-detail-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.menu-detail-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-detail-price {
  font-size: 1.6rem;
  font-weight: lighter;
  color: #213fff44;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.menu-detail-description {
  font-size: 1.4rem;
  color: #7f8c8d;
  text-align: left;
  line-height: 1.6;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0;
}

/* Estilos del panel de administración */
.admin {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.admin h1, .admin h2 {
  text-align: center;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 2rem;
}

.admin ul {
  list-style-type: none;
  padding: 0;
}

.admin li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 150px;
}

.admin li img {
  width: 40%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 10px;
}

.product-description {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-actions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.admin li button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.admin li button:nth-child(1) {
  background-color: #3b35dc;
}

.admin li button:nth-child(1):hover {
  background-color: #0056b3;
}

.admin li button:nth-child(2) {
  background-color: #c82333;
}

.admin li button:nth-child(2):hover {
  background-color: #a71d2a;
}

.admin-edit {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-edit-input, .admin-edit-file-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.admin-edit-button, .admin-add-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.admin-edit-button {
  background-color: #3b35dc;
}

.admin-edit-button:hover {
  background-color: #0056b3;
}

.admin-add {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-add-button {
  background-color: #15af41;
}

.admin-current-image {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.admin-change-image-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #d81717;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

/*Estilos de sec*/
.sec {
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(1,1,1,0.4);
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  max-width: 300px; /* Ajusta el tamaño del cuadrado según sea necesario */
  height: 300px; /* Ajusta el tamaño del cuadrado según sea necesario */
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px; /* Asegura un espacio debajo de cada sección */
}

.sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Elimina el espacio debajo de la imagen */
}

.sec-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el nombre de la sección */
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
